body{
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

.photoSide{
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex-grow: 1;
    flex-shrink: 0;
    width: calc(100%/3);
}

.formSide{
    flex-grow: 2;
    padding: 5%;
}

.title h1{
    color: white;
}

.title{
    background-color: rgba(0, 0, 0, 0.5);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    width: calc(100%/3);
}

.form-container{
    display: flex;
    gap: 20%;
}