body{
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

.photoSide{
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex-grow: 1;
}

.formSide{
    flex-grow: 3;
}